* {
	margin: 0;
	padding: 0;
}

#header {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 35px;
    margin: 30px 0;
}

#capitalize {
	text-transform: capitalize;
}

h2 {
	font-family: "Ballet", sans-serif;
	font-weight: 400;
	text-indent: 40px;
	letter-spacing: 2px;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

h4 {
	font-family: "BPG Nateli", sans-serif;
	line-height: 35px;
}